[submodule "themes/hugo-material-blog"]
	path = themes/hugo-material-blog
	url = https://github.com/Xzya/hugo-material-blog.git
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
